__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.DS_Store
backend/data/pdf/*
backend/data/txt/*
backend/data/chunks/*
backend/data/embeddings/*
backend/data/qdrant/*
frontend/node_modules/
frontend/dist/
